/* rtl */

/*import*/
@import url('style.css');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Changa:wght@300&family=El+Messiri:wght@500&family=Lalezar&display=swap');


body{
    direction: rtl;
    font-family: 'Changa', sans-serif;

}

/*themecolor*/
:root{
    --primary-color:#da0463 ;
    --secondrary-color:#404b69 ;
    --dark-color:#333 ;
    --light-color:#f4f4f4 ;
    --max-width: 90%;
    }
    /*Reset*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /*global*/
    
    body{
        background-color:var(--light-color);
    }
    h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 1rem;
    }
    a{
        text-decoration: none;
        color:var(--dark-color) ;
    }
    ul,li{
        list-style: none;
    }
    .container{
        max-width:var(--max-width) ;
        margin: auto;
    
    }
    .elshaer-widget h4{
        width: 50%;
    border-bottom: 1px dotted var(--primary-color);

    }
    
    /*widget*/
    .elshaer-widget h4,h2{
        width: 50%;
        border-bottom: 1px dotted var(--primary-color);
        padding: 1rem 0;
    }
    .elshaer-widget li{
        width: 70%;
    border-bottom: 1px dotted #555;
    padding: .5rem 0;
    }
    .elshaer-widget li a:hover{
       color: var(--primary-color) !important;
    }
    /*navigation*/
    #main-nav{
        background-color: #fff;
        position: relative;
        top: 0;
    }
    #main-nav .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #main-nav .container .logo{
      color: var(--primary-color);
      padding: 0.5rem;
      font-weight: bold;
        font-size: 1.5rem;
        transition: .5s;
    }
    #main-nav .container .logo:hover{
     opacity: .5;
    }
    #main-nav .container ul{
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        margin: 5px;
        margin-top: .25rem;
    }
    #main-nav .container ul li a{
        padding: 0.5rem;
        color: var(--secondrary-color);
        font-weight: bold;
        font-size: 18px;
        transition: .5s;
        text-transform: uppercase;
    }
    #main-nav .container ul li a:hover{
        background-color: var(--primary-color);
        color: var(--light-color);
        border-radius: 7px;
    }
    
    /* Responsive nav*/
    @media(max-width:768px){
        .container{
            max-width: 100%;
           
        }
        #main-nav .container,#main-nav .container ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        #main-nav .container ul li a{
            font-size: .75rem;
            padding: .25rem;
        }
        #main-nav .container .logo{
            font-size: 1rem;
        }
        
    }
    /*header*/
    #main-header{
        background-color: var(--dark-color);
        color: #fff;
        padding: 2rem;
        text-align: center;
    }
    
    /*blogbosts*/
    #blog-bosts .posts-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    #blog-bosts .posts-container .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        align-items: center;
    }
    .post-catogeries{
        margin: 1rem 0;
    }
    .post-catogeries a{
        background-color: var(--secondrary-color);
        color: #fff;
        padding: .5rem;
        border-radius: 10px;
        font-weight: bold;
    }
    .post-catogeries a:hover{
       opacity: .8;
    }
    #blog-bosts h2{
        color: var(--primary-color);
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }

    /*card*/
    .card{
        background-color: #fff;
        padding: 1rem;
        border-radius: 5px;
        margin: 1rem 0;
    }
    .card h3 a{
        color: var(--secondrary-color);
    }
    .card h3 a:hover{
        color: var(--primary-color);
    }
    /*responsive blog-posts*/
    @media(max-width:768px){
        #blog-bosts .posts-container,
        #blog-bosts .posts-container .card{
            grid-template-columns: 1fr;
            justify-items: center;
        }
        #blog-bosts .posts-container .card{
            text-align: center;
        }
       
        
    }
    /*single*/
#single{
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 1rem;
}
#single .card{
    margin: .5rem;
}
#single .single-content .card .artical-header{
    background-color: var(--dark-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}
/*sidebar*/

#single .elshaer-widget:first-child h4{
    width: 100%;
    border-bottom: 1px dotted #fff;
}
#single aside  .card:first-child{
    background-color: var(--secondrary-color);
    color: #fff;
    text-align: center;
}

/*responsive single*/
@media(max-width:768px){
    #single{
        grid-template-columns: 1fr ;
        justify-items: center;
    }
}

 /* search form */
/* سيرش فورم ده تاج خاص بالورد بريس */
#main-header .container #searchform input{
    font-family:    'Changa', sans-serif !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

#main-header #searchform input[id='s']{
    width: 50%;
    padding: .5rem;
    color: var(--primary-color);
  }
#main-header #searchform label[for='s']{
   display: none;
}
#main-header #searchform input[id='s']:focus{
  border: 1px solid var(--primary-color);
}
#main-header #searchform input[id='searchsubmit']{
  background-color: var(--primary-color);
  color: #fff;
  padding: .5rem;
  border: none;
  border-radius: 5px;
}

    /*responsive search*/
@media(max-width:768px){
    #main-header #searchform input[id='s']{
       width: 100%;
       margin-bottom: 1rem;
      }
      #main-header #searchform input[id='searchsubmit']{
       display: block;
       width: 100%;
      }
}



     /*footer*/
     #main-footer{
        background-color: var(--dark-color);
        color: var(--light-color);
    }
    #main-footer a{
        color: var(--light-color);
    }
    #main-footer .footer-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:1rem;
        padding: 1rem;
    }
    #main-footer .footer-container>*:last-child{
       background-color: #555;
       grid-column:1 /span 3;
       text-align: center;
       padding: .5rem;
       font-size: 15px;
    }
    /* Responsive footer*/
    @media(max-width:768px){
        
        #main-footer .footer-container{
            
            grid-template-columns:1fr;
            justify-items: center;
          
        }
        #main-footer .footer-container>*:last-child{
            grid-column:1;
           
         }
         #main-footer .footer-container .footer-column{
            
            width: 100%;
    
          
        }
        .elshaer-widget{
        border-bottom: 1px dotted #555;
        }
        .elshaer-widget ul li:last-child{
        border: none;
        padding-bottom: 1rem;
        }
    }
    
   
    /* pagination */
#pagination .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#pagination .container div{
    margin:1rem;
}
#pagination .container a{
   background-color:var(--primary-color);
   color:#fff;
   padding:.5rem;
   border-radius:5px;
   display:inline-block;
   text-align: center;
}

/* pagination Responsive */
@media(max-width:768px){
    #pagination .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
 
}




